body, html {
    height: 100vh; 
    margin: 0;
}

.bgimg {
    position: relative;
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    opacity: 0.85;
    width: 100%;
}
.bgimg2 {
    position: relative;
    height: 100%;
    background-image: url(background2.jpg);
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    opacity: 0.85;
    width: 100%;
}
.bgimg3 {
    position: relative;
    height: 100%;
    background-image: url(background3.jpg);
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    opacity: 0.85;
    width: 100%;
}
.title {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
}
.topmessage {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
  font-family: "Roboto", sans-serif;
  opacity: 0.75;
}

.title span.border {
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 12px;
}
.title span.border2 {
    background-color: #111;
    opacity: 0.75;
    color: #fff;
    padding: 14px;
    font-size: 20px;
    letter-spacing: 10px;
}
a, a:visited {
  text-decoration: none;
  color: aliceblue;
}
a:hover {
  color: #000;
}
.title span.border3, .title span.border3:visited {
  background-color: #111;
  opacity: 0.75;
  color: #fff;
  padding: 14px;
  font-size: 15px;
  letter-spacing: 3px;
  text-decoration: none !important;
}
.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}
.form {
  top: 30%;
  position: relative;
  z-index: 1;
  background: rgba(32, 34, 33, 0.8);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover, .form button:active {
  background:#123C13;
}
.form .message {
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 16px;
}
